<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
<p>
  <a href="/">View All Clients</a> |
  <a href="/new_client">New Client</a> |
  <a href="/new_portfolio">New Portfolio</a> |
  <a href="/new_stock">New Stock</a> |


</p>

<hr>

<%= yield %>

</html>