<h1>New Portfolio</h1>
<form method="post" action="/new_portfolio">
    Portfolio Name:<input type="text" name="portfolio_name">

    Client:<input type="text" name="client_id">
    <button>Save Portfolio</button>
</form>
